:global {
  body[data-theme="light"] {
    --header-color: var(--primary-black);
    --header-text-color: var(--white);
    --header-border: 1px solid var(--primary-black);
  }

  body[data-theme="dark"] {
    --header-color: var(--primary-black);
    --header-text-color: var(--white);
    --header-border: 2px solid var(--light-gray);
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 30px 15px 10px;
  background: var(--header-color);
  color: var(--header-text-color);
  border-bottom: var(--header-border);
  z-index: 1000;
}

.headerLink {
  font-weight: 500;
  font-size: 20px;
  color: inherit;
}

.headerInner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // column-gap: 313px;
  padding-left: 30px;
}

.headerWrapper{
  display: flex;
  column-gap: 100px;
}
