.preloader {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
}

.error {
  display: block;
  margin: 0 auto;
  width: max-content;
  margin-top: 90px;
  font-size: 20px;
  font-weight: 600;
  color: var(--negative-color);
}
