:global {
  body[data-theme="light"] {
    --content-color: var(--white);
    --content-text-color: var(--white);
    --content-border: 1px solid var(--secondary-black);
  }

  body[data-theme="dark"] {
    --content-color: var(--black-bg);
    --content-text-color: var(--secondary-black);
    --content-border: 1px rgb(218, 220, 224) solid;
  }
}

.contentBox {
  border-radius: 12px;
  border: var(--content-border);
  padding: 16px 16px 0 16px;
  background: var(--content-color);
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--content-text-color);
  margin-bottom: 16px;
  border-bottom: var(--border);
  padding-bottom: 5px;
}

.altStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 291px;
  height: 431px;

  span {
    margin-left: -9px !important;
    margin-top: -28px !important;
  }
}

.noBorder {
  padding-bottom: 16px;
  margin-top: 20px;
  border: none;
}
